{% extends "base.html" %}

{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h3 class="mb-0">Events I Orgnized</h3>
      <a href=" {% url 'event-create' %}" >Create</a>
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Time</th>
              <th>Location</th>
              <th>Capacity</th>
              <th>Tickets Left</th>
            </tr>
          </thead>
          <tbody>
            {% for event in user_events_added %}
            <tr>
              <td>{{event.title}}</td>
              <td>{{event.date}}</td>
              <td>{{event.time}}</td>
              <td>{{event.location}}</td>
              <td>{{event.seats}}</td>
              <td>{{event.seats_left}}</td>
              <td><a href=" {% url 'event-detail' event.id %}"> View </a></td>

            </tr>
            {% endfor %}
          </tbody>
        </table>




      <h3 class="mb-0">Events I Attend</h3>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date & Time</th>
            <th>Location</th>
            <th>Tickets</th>

          </tr>
        </thead>
        <tbody>
          {% for ticket in user_tickets_added %}
          <tr>

            <td>{{ticket.event.title}}</td>
            <td>{{ticket.datetime}}</td>
            <td>{{ticket.event.location}}</td>
            <td>{{ticket.tickets}}</td>
        
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

</header>



{% endblock %}
