{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header onlaod="check_seats({{event_tickets_left}})" class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h3 class="mb-0">Events I Orgnized</h3>
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Time</th>
              <th>Location</th>
              <th>Capacity</th>
              <th>Tickets Left</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{event.title}}</td>
              <td>{{event.date}}</td>
              <td>{{event.time}}</td>
              <td>{{event.location}}</td>
              <td>{{event.seats}}</td>
              
                  
             <td>{{event_tickets_left}}</td>
           
              <td><a href="{% url 'event-update' event.id %}"> Edit </a></td>
              <td><a href="{% url 'event-delete' event.id %}"> Delete </a></td>
            </tr>
          </tbody>
        </table>




        <form id="show_form" class="col-4" action="{% url 'ticket-create' event.id %}" method="POST" >
            {% csrf_token %}
            {{ticket|crispy}}
            <button class="btn btn-outline-success" type="submit">Book</button>
        </form>

        {% if request.user == event.added_by %}

        <h3 class="mb-0">Tickets Booked</h3>
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date & Time</th>
              <th>Event Title</th>
              <th>Number of Tickets</th>
            </tr>
          </thead>
          <tbody>
            
            {% for tickets in event_tickets_added %}
            <tr>
              <td>{{tickets.user}}</td>
              <td>{{tickets.datetime}}</td>
              <td>{{tickets.event.title}}</td>
              <td>{{tickets.tickets}}</td>
      
            </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}
    </div>
  </div>

</header>
<script>
      $(document).ready(function(id) { 
          
          if(id = 0){
            
            document.getElementById("show_form").style.display = "none";
            document.getElementById("check_seats").style.display = "block";
            
          }
          else{
            document.getElementById("show_form").style.display = "block";
            document.getElementById("check_seats").style.display = "none";
          }
        });
      
    
  </script>



{% endblock %}
