
{% extends "base.html" %}

{% block content %}
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                    <h2 class="masthead-subheading mb-0">Find what you ever want...</h2>

                    <br>
          

        {% if request.user.is_anonymous %}
                <a href="{% url 'signup' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Sign up to find events!</a>
        {% else %}

              <form action="{% url 'event-list' %}">
                    <div class="input-group mb-3">
                        <input class="form-control" placeholder="Search" name="search" value="{{ request.GET.search }}">
                            <div class="input-group-append">
                              <button class="btn btn-primary btn-xl rounded-pill mt-5 my-2 my-sm-0" type="submit">Search <i class="fas fa-search"></i></button>
                            </div>
                    </div>
              </form>

                  {% for event in events %}
                    <div class="[ col-xs-12 col-sm-offset-2 col-sm-12 ]">
                            <ul class="event-list my-5">
                              <li class="animate_msa">
                                <time datetime="">
                                  <span class="day" style="font-size: 23pt;">{{event.time}}</span>
                                  <span class="month" style="font-size: 22pt;">{{event.date}}</span>
                                  <span class="time"></span>
                                </time>
          {% if event.img %}
                <img alt="My 24th Birthday!" src="{{event.img.url}}" />
          {% endif %}
                                <div class="info" style="background-color:#fff;">
                                  <h2 class="title " style="color:#2d2b33;">{{event.title}}</h2>
                                  <p class="desc " style="color:#2d2b33;">Location: <b>{{event.location}}</b></p>
                                  <p class="desc " style="color:#2d2b33;">Capacity: <b class="text-success">{{event.seats}}</b></p>
                                  <p class="desc " style="color:#2d2b33;">Seats left: <b class="text-warning">{{event.seats_left}}</b></p>
                                  <ul>
                                    <li style="width:33%;"><span class="glyphicon glyphicon-ok"></span></li>
                                    <li style="width:34%;"></li>
                                    <a href=" {% url 'event-detail' event.id %}" class="btn btn-primary btn-xl rounded-pill mt-5 my-4"> <li style="width:33%;">View</li></a>
                                  </ul>
                                </div>
                                <div class="social">
                                </div>
                              </li>
                            </ul>
                                </div>
        {% endfor %}


          </div>
      </div>

<div class="bg-circle-1 bg-circle"></div>
<div class="bg-circle-2 bg-circle"></div>
<div class="bg-circle-3 bg-circle"></div>
<div class="bg-circle-4 bg-circle"></div>


  </header>

      {% endif %}

{% endblock %}