{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create{% endblock title %}

{% block content %}


<header class="masthead text-center text-white">
    <h1 class="header_style">Create an Event</h1>
  <div class="masthead-content">
    <div class="container">
          <div class="card">
            
            <div class="card-body">
                  <form class="color_form" action="{% url 'event-create' %}" method="POST" enctype="multipart/form-data" >
                      {% csrf_token %}
                      {{form|crispy}}
                      <input type="submit" value="Create" class="btn btn-outline-success button_style">
                  </form>
            </div>
          </div>
        </div>
      </div>
  </header>
{% endblock content %}
