
{% extends "base.html" %}

{% block content %}
    <header class="masthead text-center text-white">
          <div class="masthead-content">
                <div class="container">
                      <h1 class="masthead-heading mb-0">All the events,</h1>
                      <h2 class="masthead-subheading mb-0">You could ever want...</h2>

                      {% if request.user.is_anonymous %}
                          <a href="{% url 'signup' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Sign up to find events!</a>
                      {% else %}
                           <a href="{% url 'event-list' %}" class="btn btn-primary btn-xl rounded-pill mt-5">See more events and lookfor what you like!</a>

                      {% endif %}

                      {% for event in recent_events %}

                                  <br>
                                  <br>
                                  <br>
                                  <br>
                          <div class="animate_msa card w-100">
                                <div class="card-body" >
                                      <h2 class="text-dark">{{event.title}}</h2>
                                      <p class="text-dark" >{{event.description}}</p>
                                      <p class="text-dark" >{{event.date}}   {{event.time}}</p>

                                      <a href= "{% url 'event-detail' event.id %}" class="btn btn-primary btn-xl rounded-pill mt-5">View this event</a>
                                </div>
                          </div>
                      {% endfor %}


                </div>
          </div>
          <div class="bg-circle-1 bg-circle"></div>
          <div class="bg-circle-2 bg-circle"></div>
          <div class="bg-circle-3 bg-circle"></div>
          <div class="bg-circle-4 bg-circle"></div>

    </header>

{% endblock %}
