<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" href=" {% url 'home' %} ">Django Event Planner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-primary btn-s rounded-pill mr-4 my-0" href="{% url 'event-create' %}">Create an event</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
            </div>
          </li>
        <li class="nav-item">
      {% if request.user.img %}
            <img alt="any" src="{{profile_image}}" />
      {% endif %}
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
