
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <header class="masthead text-center text-white">
          <div class="masthead-content">
                <div class="container">
                <div class="container emp-profile">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img class="img-rounded" src="{{picture}}" alt=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profile-head">
                                <h5>
                                    {{profile.first_name}} {{profile.last_name}}
                                </h5>
                            
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">User Info</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Followers( {{follow_count}} )</a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link" id="follow-tab" data-toggle="tab" href="#follow" role="tab" aria-controls="follow" aria-selected="false">My Following( {{my_following_count}} )</a>
                                        </li>


                            
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="color_form row">
                                                <div class=" color_form  col-md-6">
                                                    <label>Username:</label>
                                                </div>
                                                <div class="color_form  col-md-6">
                                                    <p>{{profile.username}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="color_form  col-md-6">
                                                    <label>First Name:</label>
                                                </div>
                                                <div class="color_form  col-md-6">
                                                    <p>{{profile.first_name}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="color_form  col-md-6">
                                                    <label>Last Name:</label>
                                                </div>
                                                <div class="color_form  col-md-6">
                                                    <p>{{profile.last_name}}</p>
                                                </div>
                                            </div>
    
                                            <div class="row">
                                                <div class="color_form col-md-6">
                                                    <label>Email:</label>
                                                </div>
                                                <div class="color_form col-md-6">
                                                    <p>{{profile.email}}</p>
                                                </div>
                                            </div>
    
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Last Login:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{profile.last_login}}</p>
                                                </div>
                                            </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                                {% for follow in followrs %}
                                                      
                                                <table class="table table-light text-dark">
                        
                                             <tbody>

                                            <tr>  
                                                <td></td>
                                                <td>{{follow.user_follow.username}}</td>
                                                <td>{{follow.user_follow.email}}</td>
                                                <td><a href="{% url 'organizer-profile' follow.user_followed.id %}">View</a></td>
                                                
                                                
                                            </tr>
                                           </tbody>
                                        </table>



                                                {% endfor %}
                                        </div>      
                                </div>
                                <div class="tab-pane fade" id="follow" role="tabpanel" aria-labelledby="follow-tab">
                                        <div class="row">
                                                {% for follow in my_following %}
                                                      
                                                <table class="table table-light text-dark">
                        
                                             <tbody>

                                            <tr>  
                                                <td></td>
                                                <td>{{follow.user_followed.username}}</td>
                                                <td>{{follow.user_followed.email}}</td>
                                                <td><a href="{% url 'organizer-profile' follow.user_followed.id %}">View</a></td>
                                                
                                                
                                            </tr>
                                           </tbody>
                                        </table>



                                                {% endfor %}
                                        </div>      
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                        <div class="row justify-content-center">
                                <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-xl rounded-pill mt-2" data-toggle="modal" data-target="#exampleModal">
                                Edit Profile
                            </button>
                        </div>
                    </div>                       
                </div>
          </div>
          <div class="bg-circle-1 bg-circle"></div>
          <div class="bg-circle-2 bg-circle"></div>
          <div class="bg-circle-3 bg-circle"></div>
          <div class="bg-circle-4 bg-circle"></div>

    </header>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit my profile</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
      
              <form action="{% url 'profile-edit' %}" method="POST" enctype="multipart/form-data" >
                      <h1>Profile</h1>
                      {% csrf_token %}
                      {{ form | crispy }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          </form>

    {% endblock content %}
